<body>

<div data-section="accordion" id="content-nav">
  <section>
      <?js= this.nav ?>
  </section>
</div>

<div id="main">
    <?js if (title != 'Home') { ?>
    <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>
</div>

<br class="clear">

<footer>
    <i>Last updated <?js= new Date() ?></i>
</footer>

<script>prettyPrint();</script>
</body>
